/* Background image for both gradient */
body{
    background: linear-gradient(269deg,  #222a28, #67756b, #17682e, #9b9c2f);
    background-size: 400% 400%;
   -webkit-animation: AnimationName 17s ease infinite;
   -moz-animation: AnimationName 17s ease infinite;

    animation: AnimationName 17s ease infinite;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#intro{
    /* text-align: center; */
    /* height: 300px; */
}
#intro h1{
    font-family: 'Poiret One', cursive;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.modal-content{
    /* background-image: url("/home/one/Documents/moringa_projects/Finalproject/Images/vincent-burkhead-147113-unsplash.jpg"); */
    background: linear-gradient(269deg, #704b06, #eaa54c, #724307);
    background-size: 400% 400%;
   -webkit-animation: AnimationName 10s ease infinite;
   -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
#signOut{
    display: none;
}
.jumbotron{
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.jumbo hr{
 margin: -3px;
 padding-top: 10px;
 padding-bottom: 10px;margin: 0px;
}
nav ul li{
    float:left;
    list-style:none;
    padding:40px;
    color: white;
    font-family: cursive;
    align-items: center;

}
nav ul li:hover{
  color:cyan;
  padding-top: 1%;
}
#carousel-example-generic{
    height:200px;

}
#imageborder{
  border: 1px Transparent;
  padding: 5px;
}
.button-header{
color: White;
background: Transparent;
font-family: 'Poiret One', cursive;
font-size: 20px;
padding: 5px;
border: 2px;
border-radius: 20px 10px;
-webkit-transition-duration: 0.9s;
transition-duration: 0.9s;
cursor: pointer;
}
.button-header:hover{
  padding-left: 10px;
  padding-right: 10;
  background: rgba(255, 191, 0, 0.3);
  color: white;
  border: 10%;
}
.item{
    font-family: 'Poiret One', cursive;
    margin:0px;
    border-radius:5px;
    height:250px;
    background-color: lightblue;
}
.footer {

    font-family: 'Poiret One', cursive;
    margin-top:20px;
    height:100px;
    background:lightgrey;
    text-align:center;


}
.footer p{
    margin-top:40px;
}
.uk-card-media-top img{
    display:flex;
    align-items:center;

}
/* styles for  competitions page*/
.container h5{
    width:200px;
    margin-right:0px;
}
.search{
    margin-bottom:0px;
}
.glyphicon{
  font-size: 400px;
  text-align: center;
}
#addition{
    height:40px;
    width:40px;
    border-radius:50%;
    margin-right:40px;
    margin-top:0px;
}
.glyphicon.glyphicon-plus{
    font-size:20px;
}
.topline {
    height:2px
}
.topline hr{
    margin:0px;
    padding:0px;
}
.specs{
    border-left:1px solid white;
}
.specs2{
    border-right:1px solid white;
}
.alignedRight{
    text-align:right;
}

.look{
    font-family: 'Poiret One', cursive;
}
.img{
  height: 270px;
  width: 250px;
  padding-top: 12px;
}
#uk-text{
font-family: 'Poiret One', cursive;
font-weight:bolder;

}
#apo{
    margin: 0px;
}
#apoo{
    margin: 0px;
}
.zzdf{
    padding: 12px;
}
.footer {
    color: orangered;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    opacity: 0.4;
    font-family: 'Poiret One', cursive;
    margin-top:20px;
    height:100px;
    text-align:center;
 }
 .footer p{
    margin-top:40px;
 }
 div.container-fluid.zzdf{
    padding: 0px;
 }
 div.footer{
    margin: 0px;
 }
 .container-fluid{
   padding: 0px;
}
.jumbotron{
   color: orangered;
   font-family: 'Poiret One', cursive;
   background-color: black;
   padding-top: 10px;
   padding-bottom: 10px;
   opacity: 0.4;
   margin-bottom: 0px;
}
.jumbo hr{
   margin: -3px;
   padding-top: 10px;
   padding-bottom: 10px;margin: 0px;
}
#hobbies, #quote{
  font-size:25px;
  color: red;
}
#quote{
  font-style: italic;
  text-align: center;
  color: green;
}
