/* body{
    padding:0px;
    margin:0px;
}
.container-fluid{
 padding:0px;
} */
#signOut{
    display: none;
}
nav ul li{
    float:left;
    list-style:none;
    padding:10px;

}
#carousel-example-generic{
    height:200px;

}
/* .header input,.header button{
    float:right;
    padding:0px;
    margin:20px;
} */
.item{
    margin:0px;
    border-radius:5px;
    height:250px;
    background-color: lightblue;
}
.footer {
    margin-top:20px;
    height:100px;
    background:lightgrey;
    text-align:center;


}
.footer p{
    margin-top:40px;
}
<<<<<<< HEAD
.uk-card-media-top img{
    display:flex;
    align-items:center;

}
=======
.glyphicon{
  font-size: 400px;
  text-align: center;
}
img{
  height: 400px;
  width: 400px;
}
>>>>>>> ae6fa2354545cc94e983d5d9d11c26688f4c0493
