body{
    padding:0px;
    margin:0px;
}
.container-fluid{
 padding:0px;
} 
#signOut{
    display: none;
}
nav ul li{
    float:left;
    list-style:none;
    padding:10px;

}
#carousel-example-generic{
    height:200px;

}

.item{
    margin:0px;
    border-radius:5px;
    height:250px;
    background-color: lightblue;
}
.footer {
    margin-top:20px;
    height:100px;
    background:lightgrey;
    text-align:center;


}
.footer p{
    margin-top:40px;
}
.uk-card-media-top img{
    display:flex;
    align-items:center;

}
.container h5{
    width:200px;
    margin-right:0px;
}
.search{
    margin-bottom:0px;
}
.glyphicon{
  font-size: 400px;
  text-align: center;
}
#addition{
    height:40px;
    width:40px;
    border-radius:50%;
    margin-right:40px; 
    margin-top:0px;
}
.glyphicon.glyphicon-plus{
    font-size:20px;
}
.topline {
    height:2px
}
.topline hr{
    margin:0px;
    padding:0px;
}