/* Background image for both gradient */
body{
    background: linear-gradient(269deg, #704b06, #eaa54c, #724307);
    background-size: 400% 400%;
   -webkit-animation: AnimationName 19s ease infinite;
   -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite; */
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#intro{
    /* text-align: center; */
    /* height: 300px; */
}
#intro h1{
    font-family: 'Poiret One', cursive;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.modal-content{
    /* background-image: url("/home/one/Documents/moringa_projects/Finalproject/Images/vincent-burkhead-147113-unsplash.jpg"); */
    background: linear-gradient(269deg, #704b06, #eaa54c, #724307);
    background-size: 400% 400%;
   -webkit-animation: AnimationName 19s ease infinite;
   -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}
#signOut{
    display: none;
}
.jumbotron{
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.jumbo hr{
 margin: -3px;
 padding-top: 10px;
 padding-bottom: 10px;margin: 0px;
}
nav ul li{
    float:left;
    list-style:none;
    padding:10px;

}
#carousel-example-generic{
    height:200px;

}
#imageborder{
  border: 1px Transparent;
  padding: 5px;
}
.button-header{
color: White;
background: Transparent;
text;
font-family: 'Poiret One', cursive;
font-size: 20px;
padding: 5px;
border: 2px;
border-radius: 20px 10px;
-webkit-transition-duration: 0.9s;
transition-duration: 0.9s;
cursor: pointer;
}
.button-header:hover{
  padding-left: 10px;
  padding-right: 10;
  background: rgba(255, 191, 0, 0.3);
  color: white;
  border: 10%;
}
.item{
    font-family: 'Poiret One', cursive;
    margin:0px;
    border-radius:5px;
    height:250px;
    background-color: lightblue;
}
.footer {
    
    font-family: 'Poiret One', cursive;
    margin-top:20px;
    height:100px;
    background:lightgrey;
    text-align:center;


}
.footer p{
    margin-top:40px;
}

.glyphicon{
  font-size: 400px;
  text-align: center;
}


.uk-card-media-top img{
    display:flex;
    align-items:center;

}
.uk-text-warning{
    color: linear-gradient(269deg, #5c5b5a, #d3aa75, #4c4a47);
    background-size: 400% 400%;
   -webkit-animation: AnimationName 19s ease infinite;
   -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}
.look{
    font-family: 'Poiret One', cursive;
}
